<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/b878ac9bc8.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    </head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>Mercado Liebre</title>
    <body class="body-global">
        <header class="header-global"> 
            <section class="cabe">
                <img class="logo" src = "images/logo-mercado-liebre.svg" alt="logo_mercado_liebre">
                <div class="search">
                    <input type="text" placeholder="Buscar productos, marcas" name="search">
                    <button ><i class="fa-solid fa-magnifying-glass"></i></button>        
                </div>
            </section>
            <div>
                <p id="compra-sin">            
                    <div class="detalle"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</div>
                </p>
            </div>
            <div class="burgerMenu">
                <button class="boton"> <i class="fa-solid fa-bars"></i></button>
            </div>
            <br>
            <img class="banner" src="./images/img-home-banner.jpg" alt="home-banner">
            <br>
            <ul>
                <li> <a href=""> Ofertas </a> </li>
                <li> <a href=""> Tiendas Oficiales</a> </li>
                <li> <a href=""> Vender</a> </li>
                <li> <a href=""> Ayuda</a> </li>
            </ul>
            <br>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </header>
        
        <main class="main-global">
            <div class="seccion-productos">
                
                <p class="titulares">Basado en tu última visita</p>
                <section class="productos-venta">
                    <article class="items-venta">
                        <div class="imagen-completa">
                            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                            <div class="contenedor">
                                <i class="fa-solid fa-truck" ></i>
                                <div class="precio"><p>$6.770</p>
                            </div>
                            <div class="descuentos"><p>40% off</p></div>
                        </div>
                        </div>                    
                        <div class="descripciones"><p>Cafetera Moulinex</p></div>
                    </article>
                    <br>
                    <article class="items-venta">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                        <div class="contenedor">
                            <i class="fa-solid fa-truck" ></i>
                            <div class="precio"><p>$230.000</p></div>
                            <div class="descuentos"><p>20% off</p></div>
                        </div>
                        <div class="descripciones"><p>MacBook Pro 2019</p></div>
                    </article>
                    <br>
                    <article class="items-venta">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                        <div class="contenedor">
                            <i class="fa-solid fa-truck" ></i>
                            <div class="precio"><p>$70.500</p></div>
                            <div class="descuentos"><p>10% off</p></div>
                        </div>
                        <div class="descripciones"><p>Samsung Galaxy S10</p></div>
                    </article>
                    <br>
                    <article class="items-venta">
                        <img src="images/img-tv-samsung-smart.jpg" alt="Samsung Smart Tv">
                        <div class="contenedor">
                            <i class="fa-solid fa-truck" ></i>
                            <div class="precio"><p>$23.200</p></div>
                            <div class="descuentos"><p>5% off</p></div>
                        </div>
                        <div class="descripciones"><p>SmartTV Samsing 43"</p></div>
                    </article>
                </section>
            </div>
        </main>
    </body>
        <footer class="footer-global">
            <br>
            <div class="iconos-footer"><i class="fa-solid fa-credit-card"></i></div>
            <div class="descripciones-footer">Pagá con tarjeta o en efectivo</div>
            <p class="details-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <br>
            <div class="iconos-footer"><i class="fa-solid fa-gift"></i></div>
            <div class="descripciones-footer">Envío gratis desde los $ 2.500</div>
            <p class="details-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <br>
            <div class="iconos-footer"><i class="fa-solid fa-user-shield"></i></div>
            <div class="descripciones-footer">Seguridad de principio a fin</div>
            <p class="details-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
            <br>
            <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        </footer>
</html>